<%= render partial: 'productsearchform' %>


<p>Vegetables: <% @veggie_search.each do |v|%>
	<p><%= v.name %></p>
	<% end %>
	</p>

<p><%= link_to("Vegetables", veggie_search_path) %></p>

<p><%= link_to("Seafood", seafood_search_path) %></p>

<p><%= link_to("Meats", meat_search_path) %></p>

<p><%= link_to("Baked Goods and Other Carbs", carbs_search_path) %></p>

<p><%= link_to("Fruit", fruit_search_path) %></p>

<p><%= link_to("Sweets", sweets_search_path) %></p>