<%= render partial: "vendor_header_form" %>
<h3> Product: <%= @myproduct.name %></h3>


<%= form_for @mysale, method: @post_method, url: @post_path do |f| %>

	<%= f.label :amount %>
	<%= f.text_field :amount %>

	<%= f.submit %>
<% end %>
