<h1>Sales Report for <%= @myvendor.name %></h1>

<h4>Total Sales: $<%= '%.2f' % (@total_sales/100) %></h4>
<% @allsales.each do |sale| %>
  <article>
    <p>
      Product: <%= Product.find(sale.product_id.to_i).name %>
    </p>
    <p>Amount: $<%= '%.2f' % (sale.amount/100) %></p>
    <% if sale.purchase_time != nil %>
      <p>  Time of Purchase: <%= sale.purchase_time %>  </p>
    <% end %>
  </article>
<% end %>
